.hero-image {
  background-image: url("D:\Projects\nhoracing\src\assets\IMG_2416-Edit.jpg");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section {
  color: white;
  position: absolute;
  top: 50vh;
  z-index: 5;
  padding: 0;
}
