.navbar {
  color: white;
  padding-top: 30px;
}

.logo {
  height: auto;
  width: 8rem;
}

.socials {
  height: 30px;
}

@media only screen and (max-width: 600px) {
  .navbar-custom {
    padding-top: 1em;
  }
}
