.navbar {
  color: white;
  padding-top: 30px;
}

.logo {
  height: auto;
  width: 8rem;
  margin-left: 20px;
}

.navbar-toggler {
  margin-right: 20px;
}

@media only screen and (max-width: 990px) {
  .navbar-custom {
    padding-top: 1em;
  }
  .nav-dropdown-bg {
    background-color: rgba(0, 0, 0, 0.678);
    padding: 20px;
  }
}
